# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# Output files
*.wav
output_odia.wav

# IDE configs
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
